header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 6vh;
    background-color: #E2EFF7;
    padding: 10px;
    z-index: 999;
}

.logoimg{
    position: relative;
    right: 100%;
    bottom: 15%;
    width: 50%;
    height: 50%;
}

.line {
    position: relative;
    font-family: 'Staatliches', sans-serif;
    font-size: 100%;
    height: 45vh;
    width: auto;
    left: 15%;
}

.line ul {
    position: absolute;
    list-style: none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

.line li {
    position: relative;
    margin-right: 90px;
    top: 10px;
}

.line li:last-child {
    margin-right: 0%;
}

.line a {
    text-decoration: none;
    font-size: 100%;
    color: #333;
}

.line button {
    font-family: 'Sora';
    background-color: #59AEE1;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
}

#contactmebtn{
    position: relative;
    top: -8px;
}

.lifont{
    font-family: 'Concert One', cursive;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Staatliches', cursive;
}



body{
    
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0; 
}

.sourcecode{
    font-family: 'Source Code Pro';
    font-size: 50px;
    font-weight: 800;
    color: #ffffff00; 
    -webkit-text-stroke: 1.5px #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color:  #E2EFF7;
    
}

.Hello{
    position: relative;
    font-family: 'Concert One', cursive;
    font-family: 'Dongle', sans-serif;
    font-size: 300%;
    top: -75px;
}

.firstNam{
    font-family: 'Concert One', cursive;
    font-family: 'Vollkorn', serif;
    font-size: 60px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    color: #7378FF;
}

.lastNam{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
    font-family: 'Vollkorn';
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Namline{
    position: relative;
    display: flex;
    align-items: baseline;
    gap: 10px;
    top: -160px;
}

.Title{
    position: relative;
    font-family: 'Sora';
    font-size: 17px;
    top: -180px;
}

.paragraph1{
    position: relative;
    font-family: 'Rubik';
    font-size: 15px;
    top: -170px;
}

.myimg1{
    position: absolute; 
    top: 0%;
    bottom: 0%;
    margin: auto; 
    right: 10%;
    max-width: 100%;
    height: auto;
}

.contactimgcontent1 {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0%;
  }
  
  .contactimgcontent1 a {
    position: absolute;
    display: inline-block;
    margin: 0 4% 0 0;
}


.contactimgcontent1 a img {
  position: absolute;
  top: 60%;
  left:0%;
}

main{
    position: relative;
    background-color: #E2EFF7;
    height: 90vh;
    width: 100%;
}

.Hiremebtn{
    position: relative;
    font-family: 'Concert One', cursive;
    background-color: #59AEE1;
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    top: -680px;;
    box-shadow: 0px 4px 4px rgba(89, 174, 225, 0.8 ) ;
}


.main2{
    position: relative;
    top: 15%;
    left: 7%;
    width: 35vw;
}

/*Second Page*/

.sectiononefromtwo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .sectiononefromtwo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 212px;
    height: 223px;
    background-color: #ffffff00;
    border: 2px solid #333;
    border-radius: 30px; 
    z-index: -1;
  }
  
  .sectiononefromtwo::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 60px;
    width: 193px;
    height: 201px;
    background-color: #fdfdfd00;
    border: 2px solid;
    border-image: linear-gradient(#13A7E6, #C813E6) 20;
    border-radius: 30px;  
    z-index: -1;
  }
  
  .sectiononefromtwo hgroup h3 {
    font-family: 'Inter';
    font-size: 17px;
  }
  
  .hgroupfromtwo {
    position: relative;
    text-align: center;
    color: #000000;
    z-index: 1;
  }
  
  .imgfromtwo {
    margin-right: 20px;
  }

  
 